header {
  background: radial-gradient(circle, rgb(14, 4, 116), rgb(18, 2, 2));
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 55px;
}

header > h2 {
  font-size: 1rem;
  font-weight: 500;
  font-family: Inter;
  margin-left: 20px;
}
